.colors-rgb {
  
  margin-top: 30px;
  
  // .colors-rgb__row
  &__row {

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 15px;

    @media (max-width:375px){
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

  }

  // .colors-rgb__item

  &__item {

    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;


    width: 45px;
    height: 45px;
    border-radius: 10px;

  }
}
